body {
    background-color: #f4e7e7; 
    color: #bf3dda;;
    font-family: Arial, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 auto;
    text-align: center;
}

.menu {
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #6a287e; 
    padding: 10px;
    z-index: 1000;
  
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

.menu ul li {
    margin-bottom: 10px; 
    margin-right: 20px;
}

.menu ul li a {
    color: #f4e7e7;
    display: block; 
    padding: 5px 10px; 
    color: #f4e7e7;
    text-decoration: none;
    padding: 5px 10px;
}

.menu ul li a:hover {
    background-color: #2d1653;
    text-align: right;
}

.container {
    margin-top: 40px; 
}
p {
    margin-left: 200px;
    margin-right: 200px;
}

h1, h2, h3 {
    color: #6a287e; 
    margin-left: 200px;
    margin-right: 200px;
}

a {
    color: #6a287e; 
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2d1653; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

h2 {
    margin-top: 100px; 
}

form {
    margin-top: 50px;
    border: 2px solid #6a287e;
    border-radius: 10px; 
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6a287e;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #6a287e; 
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #6a287e; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2d1653; 
}
